.container {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  font-size: 26px;
  border: 2px solid rgba(31, 166, 228, 0.712);
}
.container_main {
  width: 80%;
  height: 250px;
  color: black;
}
.container_buttons {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-bottom: chocolate 1px solid;
}
.container_text {
  font-size: 16px;
}