* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background-color: #b7bbc4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(38, 63, 177);
}

.container {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  font-size: 26px;
  border: 2px solid rgb(31, 165, 228);

  &_main {
    width: 80%;
    height: 250px;
    // border: 1px solid rgb(19, 33, 105);
    color: black;
  }
  &_buttons {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-bottom: chocolate 1px solid;
    // &-label{
    //   display: flex;
    //   // justify-content: space-between;
    // }
    // &-input{
    //   display: flex;
    //   // justify-content: space-between;
    // }
  }
  &_text {
    font-size: 16px;
  }
}

.btn_back {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 33, 105);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-style: normal;
  text-decoration: none;
  margin-right: 20px;
}
.btn_next {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 236, 236, 0.884);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-style: normal;
  text-decoration: none;
}

.containerLanguage {
  width: 90vw;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border: 2px solid rgb(31, 165, 228);
  font-size: 16px;
  margin: 0;
  padding: 0;

  &_main {
    width: 100%;
    height: 80%;
    text-align: center;
    color: black;
    margin: 0;
    padding: 60px;
    columns: 2;
  }
  &_buttons {
    position: absolute;
    right: auto;
    left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-bottom: chocolate 1px solid;
    // &-label{
    //   display: flex;
    //   // justify-content: space-between;
    // }
    // &-input{
    //   display: flex;
    //   // justify-content: space-between;
    // }
  }
  &_text {
    font-size: 16px;
  }
}
.containerIssue {
  width: 90vw;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border: 2px solid rgb(31, 165, 228);
  font-size: 12px;
  margin: 0;
  padding: 0;

  &_main {
    width: 100%;
    height: 80%;
    text-align: center;
    color: black;
    margin: 0;
    padding: 60px;
    columns: 2;
    position: relative;
  }
  &_buttons {
    position: absolute;
    right: auto;
    left: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  &_question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-bottom: chocolate 1px solid;
    // &-label{
    //   display: flex;
    //   // justify-content: space-between;
    // }
    // &-input{
    //   display: flex;
    //   // justify-content: space-between;
    // }
  }
  &_text {
    font-size: 16px;
  }
}
