$bacground-color: #b7bbc4;
$font-header-color: rgb(38, 63, 177);
$button-background-back: rgb(19, 33, 105);
$button-color-back: #fff;
$button-background-backnext: rgba(120, 236, 236, 0.808);
$button-color-next: #fff;
$border-color: rgb(31, 165, 228);
$background-color-container: #fff;
$border-bottom-item:chocolate 1px solid;