// Main:
$background-color: #b7bbc4;
$font-header-color: rgb(38, 63, 177);
$background-color-container: #fff;
$border-bottom-item:rgb(235, 115, 29) 1px solid;

// Buttons:
$button-color-back: #fff;
$button-background-next: rgba(120, 236, 236, 0.808);
$button-color-next: #fff;
$border-color: rgb(31, 165, 228);
$button-background-startSearchAgain: rgb(235, 115, 29); 
$button-background-changed:rgba(68, 121, 71, 0.616);
$button-background-back: rgb(19, 33, 105);