@import './variables';
@import './TherapyGenderOld';
@import './Issue';
@import './Language';
@import './Sucssess.scss';
@import './buttons';
@import './checkbox';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $font-header-color;
}
